.castBox {
    display: grid;
    justify-items: center;
        max-width: calc(100vw - 48px);
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 16px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 15px;
}

.castList {
    border: 1px solid grey;
        border-radius: 10px;
        box-shadow: 0 0 10px #444;
        padding: 10px;
}

.castImg {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 300px;
    margin-bottom: 15px;
}

.actorName {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;
}
